body {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.main {
  align-items: center;
  background-color: #9BAAAD;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90vw;
}

.social {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: black;
  margin-top: 2rem;
}

.social a {
  color: black;
}

.about-me {
  text-align: center;
}

.about-me ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0 auto;
  max-width: 600px; 
}

.about-me li {
  text-align: center; 
  margin-bottom: 10px; 
}
